<% if user_need_confirmation? %>
  <p class="notice" style="margin: 0;"><%= t('hive.confirmations.pending_confirmation', email: current_user.email, link: new_user_confirmation_path).html_safe %></p>
<% end %>
