.hive-sign-in-status {
  .current-user-avatar {
    height: 40px;
  }
}

.hive-confirmations,
.hive-passwords,
.hive-registrations,
.hive-sessions {
  max-width: 330px;
  margin: 0 auto;
  padding: $padding-large-vertical $padding-large-horizontal;
  background-color: $body-bg;
  border-radius: $border-radius-large;
  @include box-shadow(0 0 30px rgba(0,0,0,.175));
  text-align: center;

  h2 {
    margin-bottom: $line-height-computed;
    margin-top: ($line-height-computed / 2);
    a {
      text-decoration: none;
    }
    span {
      display: block;
      font-size: 50%;
    }
  }

  .form-control {
    font-size: $font-size-base;
    height: auto;
    padding: $padding-large-vertical $padding-large-horizontal;
  }

  .checkbox,
  .form-group {
    text-align: left;
  }

  .list-inline {
    margin-top: $line-height-computed;
    font-size: $font-size-small;
  }
}

// When animations are enabled via the Hive initializer option <tt>animate_views</tt>
// this class is added to the Hive dialogs via a helper method in the views.
.hive-animated {
  @include animate(fadeInDown, .8s);
}
