.omniauth-links {
  border-top: 1px solid $gray-lighter;
  margin-top: ($line-height-computed / 1.5);
  padding-top: ($line-height-computed / 2);
  ul {
    margin-top: $line-height-computed/2 !important;
  }
}

.fa-google_oauth2-square:before {
  content: "\f0d4";
}
.fa-google_oauth2:before {
  content: "\f0d5";
}

.fa-box {
  $size: $font-size-large*2;

  width: $size;
  height: $size;
  line-height: $size;
  font-size: $font-size-large;
  border-radius: 1px;
  background-color: #428bca;
  color: #fff;

  &.fa-adn {
    background-color: #D87A68;
    &:hover {
      background-color: darken(#D87A68, 5%);
    }
  }
  &.fa-bitbucket {
    background-color: #205081;
    &:hover {
      background-color: darken(#205081, 5%);
    }
  }
  &.fa-dropbox {
    background-color: #1087DD;
    &:hover {
      background-color: darken(#1087DD, 5%);
    }
  }
  &.fa-facebook {
    background-color: #3B5998;
    &:hover {
      background-color: darken(#3B5998, 5%);
    }
  }
  &.fa-flickr {
    background-color: #2BA9E1;
    &:hover {
      background-color: darken(#2BA9E1, 5%);
    }
  }
  &.fa-foursquare {
    background-color: #0072B1;
    &:hover {
      background-color: darken(#0072B1, 5%);
    }
  }
  &.fa-github {
    background-color: #444444;
    &:hover {
      background-color: darken(#444444, 5%);
    }
  }
  &.fa-google-plus {
    background-color: #DD4B39;
    &:hover {
      background-color: darken(#DD4B39, 5%);
    }
  }
  &.fa-google_oauth2 {
    background-color: #D87A68;
    &:hover {
      background-color: darken(#D87A68, 5%);
    }
  }
  &.fa-instagram {
    background-color: #3F729B;
    &:hover {
      background-color: darken(#3F729B, 5%);
    }
  }
  &.fa-linkedin {
    background-color: #007BB6;
    &:hover {
      background-color: darken(#007BB6, 5%);
    }
  }
  &.fa-tumblr {
    background-color: #CB2027;
    &:hover {
      background-color: darken(#CB2027, 5%);
    }
  }
  &.fa-twitter {
    background-color: #55ACEE;
    &:hover {
      background-color: darken(#55ACEE, 5%);
    }
  }
  &.fa-vk {
    background-color: #587EA3;
    &:hover {
      background-color: darken(#587EA3, 5%);
    }
  }
}
